<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav"

     th:fragment="navbar(showAbout, showIn, showUp, showList, showAdd,showBudget,income,transaction ,showProfile)">



    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Budget Planing</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">


                <li th:if="${showAbout == 'yes'}" class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>



                <li th:if="${showIn == 'yes'}" class="nav-item mx-0 mx-lg-1" style="cursor: pointer;"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/showLoginPage}">Sigh in</a></li>

                <li th:if="${showUp == 'yes'}" class="nav-item mx-0 mx-lg-1" style="cursor: pointer;"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/showRegistrationForm}">Sign up</a></li>
                <li th:if="${showList == 'yes'}" class="nav-item mx-0 mx-lg-1" style="cursor: pointer;"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/list}">Show Expenses</a></li>

<!--                <li th:if="${showAdd == 'yes'}" class="nav-item mx-0 mx-lg-1" style="cursor: pointer;"><a-->
<!--                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/showAdd}">Add Expense</a></li>-->

                <li th:if="${showBudget == 'yes'}" class="nav-item mx-0 mx-lg-1" style="cursor: pointer;"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/showBudget}">Budget</a></li>

                <li th:if="${income == 'yes'}" class="nav-item mx-0 mx-lg-1" style="cursor: pointer;"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/showIncome}">income</a></li>

                <li th:if="${transaction == 'yes'}" class="nav-item mx-0 mx-lg-1" style="cursor: pointer;"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/showtransctiion}">transcion</a></li>


                <li th:if="${showProfile == 'yes'}" class="nav-item mx-0 mx-lg-1" style="cursor: pointer;">
                    <form th:action="@{/logout}" method="post" class="nav-link py-3 px-0 px-lg-3 rounded"
                          style="color:white;">
                        <i class="fa-solid fa-arrow-right-from-bracket fa-1x"
                           style="margin-right: 7px; color:white;"></i>
                        <!--                            <input type="submit" value="logout" />-->
                        <input type="submit" value="logout" style="background-color: transparent; border: none; cursor: pointer;font-weight: 600;font-size: 17px; color: white;margin-top: -7px;margin-left: -9px;"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>